li.list-group-item.d-flex.justify-content-start
    img.rounded.shadow-sm(src="images/uploads/img1.jpg", alt="")
    h1.display-6.ml-3.my-auto Crying River
    .btn.btn-light.border.border-dark.ml-auto.my-auto(data-toggle="modal" data-target="#artModal", data-artwork='???') View Details