extends incentiveModal

block modalContent
    .custom-control.custom-radio.custom-control-inline
        input#customRadioInline1.custom-control-input(type="radio" name="customRadioInline1")
        label.custom-control-label(for="customRadioInline1") Toggle this custom radio
    .custom-control.custom-radio.custom-control-inline
        input#customRadioInline2.custom-control-input(type="radio" name="customRadioInline1")
        label.custom-control-label(for="customRadioInline2") Or toggle this other custom radio
