#artModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='artModalTitle' aria-hidden='true')
        .modal-dialog.modal-lg.modal-dialog-centered(role='document')
            .modal-content.border
                .modal-header
                    h3.modal-title Crying River
                    small#artModalOwned.text-success.border.border-success.rounded.align-self-center.ml-4.p-1(style="display:none;") Already Owned 
                    button.close(type='button' data-dismiss='modal' aria-label='Close' style="font-size:2em")
                        span(aria-hidden='true') &times;
                .modal-body.p-0
                    .container-fluid.pt-0
                        .row
                            .col.pl-0
                                img#artModalImage.rounded(src="#" alt="" style="width:420px;height:420px")
                            .col.pt-3
                                h5.modal-title Crying River
                                hr
                                p#artModalDescription 
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                p#artModalUploadDate.text-muted.small.pt-3
                                    i Uploaded at 31.03.2019
                                p#artModalAuthor
                                    i 
                                        | By Lorem ipsum
                .modal-footer.d-block
                    .form-group.d-flex.flex-column
                        .input-group.px-2.my-2#artModalLimit
                            | Amount Left: 5
                        .input-group.px-2.my-2#artModalAverage
                            | Average Transaction: 0 Ether
                        .input-group.px-2.my-2#artModalFee
                            | Artwork Fee: 0 Ether
                        #artModalInputFee.input-group.px-2.my-2.rounded(style="width:40%;border:1px solid #bbb;")
                            input.form-control.sniglet.text-center.border-0(type="number" placeholder="Transaction Amount" min="0.005" step="0.005" required)
                        small.form-text.text-muted Value in Ether. User can choose to pay whatever they want for optional fees. %2 commission cut from artwork fee is applied. For optional fees commission rate is %0.5.
                            //- .input-group.mb-3.px-5.mx-auto.w-75
                            //-     label(for="donationSlider") Transaction Amount: #[b 5 Ether]
                        //- input#donationSlider(type="range" class="custom-range" min="0.005" max="0.5" step="0.005")
                    button#applyTransactionBtn.btn.btn-success(type='button') Send Transaction
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel