div.slide-img
    a#modalTest(data-toggle="modal" data-target="#artModal", data-artwork='???')
        img.rounded-lg.shadow-lg(src='#', alt="Artwork")
        span.pt-1 Name
            br
            .mt-1
            | From
            i &nbsp; Author     