footer.container-fluid.pt-4.d-flex.h-100.flex-column
    div.row.justify-content-center.ml-4.pt-4.text-light
        div.col-lg-4.col-sm-12
            h3.font-weight-bold.berkshire Company Name
            a(href="mailto:berkayguursoy@gmail.com")
                p.pt-3.mb-2 info@webcompany.com
            .d-flex.d-flex-row.mt-4
                    a.hvr-grow(href="facebook.com")
                        img(src="./images/facebook.svg", alt="Facebook")
                    a.ml-4.hvr-grow(href="twitter.com")
                        img(src="./images/twitter.svg", alt="Twitter")
                    a.ml-4.hvr-grow(href="instagram.com")
                        img(src="./images/instagram.svg", alt="Instagram")
        div.col-lg-4.col-sm-12
            h5 Navigasyon
            ul.pl-3.mt-4
                li Ana Sayfa
                li Referanslar
                li Hizmetler
                li İletişim
        div.col-lg-4.col-sm-12
            h5 Feed
            ul.pl-3.mt-4
                li Ana Sayfa
                li Referanslar
                li Hizmetler
                li İletişim
    div.row.flex-grow-1.mt-5.justify-content-center.border-top.border-gray.footer-section
        span.align-self-center.text-muted
            | @ 2019 Copyright: Company