footer.container-fluid.h-100
    div(style="padding-top:8em;padding-bottom:6em;")
        div.row.justify-content-center.ml-auto.mr-auto.text-light(style="max-width:100em;")
            div.w-25.p-3.ml-5
                h4.font-weight-bold.text-muted.berkshire Art Chain
                p.pt-3.text-muted.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictumst vestibulum rhoncus est pellentesque.
                .d-flex.d-flex-row.mt-4
                        a.hvr-grow(href="facebook.com")
                            img(src="./images/facebook.svg", alt="Facebook")
                        a.ml-4.hvr-grow(href="twitter.com")
                            img(src="./images/twitter.svg", alt="Twitter")
                        a.ml-4.hvr-grow(href="instagram.com")
                            img(src="./images/instagram.svg", alt="Instagram")
            div.w-25.p-3.d-flex.flex-row
                div
                    p.category-text.text-uppercase Navigation
                    ul.pt-3.list-unstyled.category-item-text
                        li
                            a.d-block(href="#") Home
                        li
                            a(href="#") Tutorial
                        li
                            a(href="#") How to Use
                        li
                            a(href="#") Github
                        li
                            a(href="#") Technology
                        li
                            a(href="#") Contact
                div.ml-auto.mr-auto.pt-4
                    ul.pt-4.list-unstyled.category-item-text
                        li
                            a(href="#") Ethereum
                        li
                            a(href="#") Dapp
                        li
                            a(href="#") Link
                        li
                            a(href="#") Link
                        li
                            a(href="#") Link
                        li
                            a(href="#") Link
            div.w-25.p-3
                p.category-text.text-uppercase 
                    | Blockchain INC.
                p.pt-3.category-item-text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictumst vestibulum rhoncus est pellentesque.
                a(href="mailto:berk@gmail.com")
                    p.category-item-text
                        b Email:
                        |  berkaygursoy@gmail.com 