footer
    div(style="padding-top:8em;")
        div.row.justify-content-center.ml-auto.mr-auto.text-light
            div.col-lg-3.col-sm-12.p-3.ml-5
                h4.font-weight-bold.text-muted.berkshire ArtChain
                p.pt-3.text-muted.description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictumst vestibulum rhoncus est pellentesque.                    | Web sitenizin hazırlanması aşamasında sizden gelen isteklere yönelik çalışmalarımızı gerçekleştirip beğeninize sunuyoruz.
                .d-flex.d-flex-row.mt-4
                        a.hvr-grow(href="https://www.facebook.com/")
                            img(src="./images/layout/facebook.svg", alt="Facebook")
                        a.ml-4.hvr-grow(href="/")
                            img(src="./images/layout/twitter.svg", alt="Twitter")
                        a.ml-4.hvr-grow(href="https://www.instagram.com/")
                            img(src="./images/layout/instagram.svg", alt="Instagram")
                        a.ml-4.hvr-grow(href="https://www.linkedin.com/")
                            img(src="./images/layout/linkedin.svg", alt="Linkedin")
            div.col-lg-3.col-sm-12.p-3.d-flex.flex-row
                div
                    p.category-text.text-uppercase Navigation
                    ul.pt-3.list-unstyled.category-item-text
                        li
                            a.d-block(href="/") - Home Page
                        li
                            a(href="/browse") - Browse
                        li
                            a(href="/upload") - Upload
                        li
                            a(href="/account") - My Items
                        li
                            a(href="https://github.com/berkays") - Github 
                div.ml-auto.mr-auto.pt-4
                    ul.pt-4.list-unstyled.category-item-text
                        li
                            a(href="/contact") - Contact
            div.col-lg-3.col-sm-12.p-3
                p.category-text.text-uppercase 
                    | ArtChain
                p.pt-3.category-item-text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictumst vestibulum rhoncus est pellentesque. 
                a(href="mailto:artchain@info.com")
                    p.category-item-text
                        b Email:
                        |  artchain@info.com