extends layout

block styles

block toplevel
    include artworkModal

block content
    include metamaskStatus
    .navbar-push
    div.content-block.purple.text-white.shadow.d-flex.flex-column
        h1.pt-4.pb-4.shadow.text-center.fredoka.display-5 Uploads
        div#featured.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
        include contentBlockLoader

    //- div.row.content-block.green.text-white
    //-     div.col.text-center
    //-         h4.pt-4.pb-4.shadow-sm.fredoka.display-4 New Uploads
    //-         div#mostDonated.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
    //-             include artworkItem.pug
    //- div.row.content-block.blue.text-white
    //-     div.col.text-center
    //-         h4.pt-4.pb-4.shadow-sm.fredoka.display-4 Top Sellers
    //-         div#newUploads.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
    //-             include artworkItem.pug
            

block scripts
    script(src="./scripts/app.js")
    script(src="./scripts/gallery.js")