extends layout

block styles
    link(rel="stylesheet", href="./stylesheets/spinkit/css/spinkit.css")

block content
    div.row.content-block.body-push
        div.col.mb-auto.mt-auto
            div.spinner.ml-auto.mr-auto.mt-5.mb-5
                div.double-bounce1
                div.double-bounce2
            div.text-light.text-center.kreon
                h4 Requesting Access...
    div.content-block.purple.text-white
        div.text-center
            h4.pt-4.pb-4.shadow-sm.berkshire Featured
            div#featured.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
                div.slide-img
                    img.hvr-grow.rounded-lg.shadow-lg(src="/images/uploads/img1.jpg", alt="")
                    span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") Crying River
                        br
                        .mt-1
                        | From
                        i  Elvis
                div.slide-img
                    img.hvr-grow.rounded-lg.shadow-lg(src="/images/uploads/img1.jpg", alt="")
                    span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") Crying River
                        br
                        .mt-1
                        | From
                        i  Elvis
                div.slide-img
                    img.hvr-grow.rounded-lg.shadow-lg(src="/images/uploads/img1.jpg", alt="")
                    span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") Crying River
                        br
                        .mt-1
                        | From
                        i  Elvis
                div.slide-img
                    img.hvr-grow.rounded-lg.shadow-lg(src="/images/uploads/img1.jpg", alt="")
                    span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") Crying River
                        br
                        .mt-1
                        | From
                        i  Elvis
                div.slide-img
                    img.hvr-grow.rounded-lg.shadow-lg(src="/images/uploads/img1.jpg", alt="")
                    span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") Crying River
                        br
                        .mt-1
                        | From
                        i  Elvis
    div.row.content-block.green.text-white
        div.col.text-center
            h4.pt-4.pb-4.shadow-sm.berkshire Most Donated
            div#mostDonated.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
                div.slide-img
                    img.rounded-lg.shadow-lg(src="/images/uploads/img1.jpg", alt="")
                    span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") Crying River
                        br
                        .mt-1
                        | From
                        i  Elvis
    div.row.content-block.yellow.text-white
        div.col.text-center
            h4.pt-4.pb-4.shadow-sm.berkshire New Uploads
            div#newUploads.owl-carousel.owl-theme.mt-5.pb-5.pl-5.pr-5
                div.slide-img
                    img.rounded-lg.shadow-lg(src="/images/uploads/img1.jpg", alt="")
                    span.pt-1(style="position:absolute;width:100%;height:64px;left:0px;bottom:0px;background-color: rgba(20,20,20,0.5)") Crying River
                        br
                        .mt-1
                        | From
                        i  Elvis

block scripts
    script(src="./scripts/gallery.js")