extends layout

block styles

block content
    div
        div(id="particles-js")
        div
            span
            span
            span
    div(style="min-height:1000px;background-color:#AAAAAA")
block scripts
    script(src="./scripts/index.js")