div#metamask.row.justify-content-center.navbar-push(style="display:none; min-height:200px")
        div.col.mb-auto.mt-auto
            div.spinner.ml-auto.mr-auto.my-3
                div.double-bounce1
                div.double-bounce2
            div#failure.my-3.text-center(style="display:none;")
                img(src="/images/failure.svg", alt="Failure")
            div#accessStatusText.text-light.text-center.kreon
                h4 Requesting Metamask Access...