div#metamask.row.content-block.justify-content-center(style="display:none")
        div.col.mb-auto.mt-auto
            div.spinner.ml-auto.mr-auto.mt-5.mb-5
                div.double-bounce1
                div.double-bounce2
            div#failure.mt-5.mb-5.text-center(style="display:none;")
                img(src="/images/failure.svg", alt="Failure")
            div#accessStatusText.text-light.text-center.kreon
                h4 Requesting Metamask Access...