nav(class="navbar navbar-dark navbar-expand-lg fixed-top p-0" role="navigation")
    div.navbar-wrapper.ml-auto.mr-auto.d-flex.flex-row
        div.d-flex.flex-row
            a.navbar-brand.d-flex.align-items-center.hvr-bob(href="#")
                | Art Chain

        button.navbar-toggler(type='button' data-toggle='collapse' data-target='.navbar-collapse')
            span.navbar-toggler-icon
        
        div.navbar-collapse.collapse.d-flex.flex-row.justify-content-end
            ul.nav.navbar-nav.d-flex.h-100
                li.nav-item.active.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='#') Home
                li.nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='#') Browse
                li.nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='#') How To Use
                li.nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='#') Github
                li.nav-item.h-100.hvr-bubble-float-bottom.nav-dropdown
                    a.nav-link.h-100.d-flex.align-items-center(href='#') Technologies
                        ul.list-group
                            a.list-group-item.list-group-item-action(href="#") TEST
                            a.list-group-item.list-group-item-action(href="#") TEST
                li.nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='#') Contact