nav(class="navbar navbar-dark navbar-expand-lg fixed-top p-0" role="navigation")
    div.navbar-wrapper.ml-auto.mr-auto.d-flex.flex-row
        div.d-flex.flex-row
            a.navbar-brand.p-0.ml-5.d-flex.align-items-center.hvr-bob(href="/")
                img(src="/images/layout/pinselLogo.png", alt="")

        div.pos-f-t
            div#navbarCollapse.collapse
                div.bg-dark.py-4
                    ul(style="list-style:none")
                        li.mb-3
                            a(href='/') Home Page
                        li.mb-3
                            a(href='/about') About
                        li.mb-3.pl-2
                            a(href='/gallery') - Browse
                        li.mb-3.pl-2
                            a(href='/upload') - Upload                        
                        li.mb-3.pl-2
                            a(href='/usage') - How To Use
                        li.mb-3.pl-2
                            a(href='https://github.com/Berkays/ArtChain') - Github
                        li.mb-3
                            a(href='/contact') Contact
        div.d-flex.flex-row.flex-grow-1.justify-content-end
            ul.d-xs-none.navbar-nav.h-100
                li(class=(activeNav == 'home') ? "active" : "").nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='/') Home
                li(class=(activeNav == 'about') ? "active" : "").nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='/about') About
                li(class=(activeNav == 'browse') ? "active" : "").nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='/gallery') Browse
                li(class=(activeNav == 'upload') ? "active" : "").nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='/upload') Upload
                li(class=(activeNav === 'usage') ? "active" : "").nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='/usage') How To Use
                li(class=(activeNav === 'account') ? "active" : "").nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='/account') My Items
                li(class=(activeNav === 'contact') ? "active" : "").nav-item.h-100.hvr-underline-from-center
                    a.nav-link.h-100.d-flex.align-items-center(href='/contact') Contact
        button.navbar-toggler.mr-5(type='button' data-toggle='collapse' data-target='#navbarCollapse')
            span.navbar-toggler-icon