extends layout

block styles

block content
    div.body-push
    .row.justify-content-md-center.my-5
        form.col-4.border.border-1.bg-white.rounded.p-4.shadow(action='http://localhost:3000/upload' method='post' encType="multipart/form-data")
            .form-group
                p.h4.text-center Upload new Artwork
                hr
                label(for='artName') Artwork Name:
                input#artName.form-control(type='text' name="name" placeholder='Artwork Name')
            .form-group
                label(for='artDesc') Description:
                textarea#artDesc.form-control(name="description" placeholder="Artwork Description")
            .form-group
                label(for='artAuthor') Author:
                input#artAuthor.form-control(type='text' name="author" placeholder='Author')
            .form-group
                label(for='artFile') Image:
                .custom-file
                    label#artFileLabel.custom-file-label(for='artFile') Choose file
                    input#artFile.custom-file-input(type='file' name="file" accept="image/*" onchange="preview(event)")
            .form-group.text-center
                label(for='artPreview').d-none Preview:
                img#artPreview.d-block.w-100(src="#", alt="")
            button#submitArtwork.btn.btn-primary(type='submit') Submit Artwork

block scripts
    script(src="./scripts/upload.js")