.purple {
    background-color: #401d62;   
}

.green {
    background-color: #2d5240;
}

.blue {
    background-color: #0d3c73;
}

.color-main {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-scroll-color {
    background-color: #092c3d;
}

.color-main-accent {
    background-color: #b71815;
}